<div class="container">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li [class.active]="activeTab == 'cards'">
                        <a [routerLink]="['/cards']" class="navbar-link">Play</a>
                    </li>
                    <li [class.active]="activeTab == 'settings'">
                        <a [routerLink]="['/settings']" class="navbar-link">Configure</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <router-outlet></router-outlet>
</div>
