.cm-card-list {
    list-style-type: none;
    margin: 0 0 1em 0;
    padding: 0;
}

.cm-card {
    font-size: 10em;
    margin: 0.1em 0.2em 0 0;
    /*margin: 1em;*/
    float: left;
    cursor: pointer;
}