<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="row">
            <div class="col-lg-3 col-sm-5">
                <select name="card-type0" class="form-control" required [(ngModel)]="model.cardTypes[0]">
                    <option *ngFor="#t of gameTypes" [value]="t">{{t}}</option>
                </select>
            </div>
            <label class="col-lg-1 col-sm-1">vs</label>
            <div class="col-lg-3 col-sm-5">
                <select name="card-type1" class="form-control" required [(ngModel)]="model.cardTypes[1]">
                    <option *ngFor="#t of gameTypes" [value]="t">{{t}}</option>
                </select>
            </div>
        </div>
        <div class="row center-block">
            <label class="checkbox-inline control-label">
                <input type="checkbox" id="nightMode" [(ngModel)]="model.isNight" class="checkbox">
                Night mode
            </label>
        </div>
        <div class="row center-block">
            <input type="submit" value="Apply" class="btn btn-primary">
            <input type="button" value="Cancel" class="btn btn-default" (click)="go2game()">
        </div>
    </div>
</form>
