<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-5 col-xs-12">
                <select name="card-type0" class="form-control" required [(ngModel)]="model.cardTypes[0]">
                    <option *ngFor="#t of gameTypes" [value]="t">{{t}}</option>
                </select>
            </div>
            <span class="col-sm-2 text-center">vs</span>
            <div class="col-sm-5 col-xs-12">
                <select name="card-type1" class="form-control" required [(ngModel)]="model.cardTypes[1]">
                    <option *ngFor="#t of gameTypes" [value]="t">{{t}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7 col-xs-12">
                <div class="col-xs-3 nopadding">
                    <input type="text" id="numOfPairs" [(ngModel)]="model.numberOfPairs" class="form-control text-input">
                </div>
                <div class="col-xs-9 nopadding">
                    <label for="numOfPairs">&nbsp;Number of pairs</label>
                </div>
            </div>
            <div class="col-sm-5 col-xs-12">
                <label class="control-label checkbox-inline ">
                    <input type="checkbox" id="nightMode" [(ngModel)]="model.isNight" class="checkbox">
                    Night mode
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="submit" value="Apply" class="btn btn-primary">
                <input type="button" value="Cancel" class="btn btn-default" (click)="go2game()">
            </div>
        </div>
    </div>
</form>
