.crm-card {
    font-size: 4em;
    height: 2em;
    width: 1.5em;
    margin: 0.1em 0.1em 0 0.1em;
    border: 0.1em solid #66b8da;
    background-color: #66b8da;
    float: left;
    cursor: pointer;
    box-sizing: border-box;
}

.crm-card-not-playable {
    border: 0.1em solid darkblue;
}

.img-responsive {
    height: 100%;
    width: 100%;
}